<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Posts</div>
    <form class="ui form" action="/mykos" method="POST">
        <div class="field">
            <label for="title">Title</label>
            <input id="title" type="text" name="myko[title]" placeholder="Title">
        </div>
        <div class="field">
            <label for="image">Image URL</label>
            <input id="image" type="text" name="myko[image]" placeholder="Image link">
        </div>
        <div class="field">
            <label for="description">Description</label>
            <input id="description" type="text" name="myko[body]" placeholder="description">
        </div>
        <input type="submit">
    </form>
</div>



<% include partials/footer %>