<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase() === "jane") { %>
    <p>It's the best DOG!</p>
<% } else { %>
    <p>Try to choose Jane</p>
<% } %>    
<p>P.S. This is the love!</p>

<% include partials/footer %>